mods
backups
local
logs
saves
coremods
screenshots
texturepacks
crash-reports
server-resource-packs
journeymap
options.txt
crafttweaker.log
hei_bookmarks.ini
icon.png
jei_bookmarks.ini
OpenComputersMod-1.8.7-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.7-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.7-54-libjnlua54-windows-x86_64.dll
usercache.json
usernamecache.json
config/splash.properties
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/blahajasm/methods-stable_39.csv
config/ingameinfo/spotify.ixml
config/ingameinfo/cache/spotify_refresh_token.txt
config/InvTweaks/InvTweaks.cfg
config/InvTweaks/InvTweaksRules.txt
config/InvTweaks/InvTweaksTree.txt
config/InvTweaks/trees/readme.txt
config/jei/itemBlacklist.cfg
config/jei/jei.cfg
config/jei/worldSettings.cfg
config/opencomputers/default.recipes
config/opencomputers/gregtech.recipes
config/opencomputers/hardmode.recipes
config/opencomputers/peaceful.recipes
config/opencomputers/settings.conf
config/opencomputers/user.recipes
config/startuptimer/startup_times.json
crafttweaker_dump/icons.png
crafttweaker_dump/tree3.css
crafttweaker_dump/tree3.html
tv-cache/!read-me.txt
config/splash.properties
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
scripts/dumper.zs
