# Configuration file

general {
    # Hoes with a 11x11 block range.
    S:"11x11 Hoes" <
        
     >

    # Hoes with a 13x13 block range.
    S:"13x13 Hoes" <
        Astralium Scythe
        §fA§7s§8t§7r§fa§7l§8i§7u§fm Scythe
     >

    # Hoes with a 15x15 block range.
    S:"15x15 Hoes" <
     >

    # Hoes with a 1x1 block range.
    S:"1x1 Hoes" <
        Wooden Hoe
        Stone Hoe
        Iron Hoe
     >

    # Hoes with a 3x3 block range.
    S:"3x3 Hoes" <
        Steel Hoe
     >

    # Hoes with a 5x5 block range.
    S:"5x5 Hoes" <
        Platinum Hoe
     >

    # Hoes with a 7x7 block range.
    S:"7x7 Hoes" <
        Diamond Hoe
     >

    # Hoes with a 9x9 block range.
    S:"9x9 Hoes" <
        Umbralis Crook
        
     >
}


